<div class="dashboard-container">
    <div class="card-container">
      <div class="card">
        <h3>Total Wards</h3>
        <p>{{ totalWards }}</p>
      </div>
      <div class="card">
        <h3>Total Users</h3>
        <p>{{ totalUsers }}</p>
      </div>
      <div class="card">
        <h3>Total Employees</h3>
        <p>{{ totalEmployees }}</p>
      </div>
      <div class="card">
        <h3>Total Complaints</h3>
        <p>{{ totalComplaints }}</p>
      </div>
      <div class="card">
        <h3>Pending Complaints</h3>
        <p>{{ pendingComplaints }}</p>
      </div>
      <div class="card">
        <h3>Completed Complaints</h3>
        <p>{{ completedComplaints }}</p>
      </div>
    </div>
  
    <div class="chart-container">
      <canvas #complaintChart></canvas>
    </div>
  </div>
  